In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("spaceship-titanic\\train.csv") # (8693, 14)

df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [20]:
df.Destination.value_counts()

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [21]:
df.HomePlanet.value_counts()

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

In [22]:
# to drop : PassengerId,Cabin,Name

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [24]:
df1 = df.drop(columns=['PassengerId','Cabin','Name'],axis=1)
df1.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [25]:
# Dealing to Nan Values
df1.HomePlanet = df1.HomePlanet.fillna(df1.HomePlanet.mode()[0])
df1.CryoSleep = df1.CryoSleep.fillna(False)
df1.Destination = df1.Destination.fillna(df1.Destination.mode()[0])
df1.Age = df1.Age.fillna(df1.Age.median())
df1.VIP = df1.VIP.fillna(False)
df1.RoomService = df1.RoomService.fillna(df1.RoomService.median())
df1.FoodCourt = df1.FoodCourt.fillna(df1.FoodCourt.median())
df1.ShoppingMall = df1.ShoppingMall.fillna(df1.ShoppingMall.median())
df1.Spa = df1.Spa.fillna(df1.Spa.median())
df1.VRDeck = df1.VRDeck.fillna(df1.VRDeck.median())

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Destination   8693 non-null   object
 3   Age           8693 non-null   float64
 4   VIP           8693 non-null   bool
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(2)
memory usage: 568.9+ KB

C:\Users\samiu\AppData\Local\Temp\ipykernel_21984\1869612314.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.CryoSleep = df1.CryoSleep.fillna(False)
C:\Users\samiu\AppData\Local\Temp\ipykernel_21984\1869612314.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.VIP = df1.VIP.fillna(False)

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df1.columns:
    if df1[col].dtypes =='O' or df1[col].dtypes=='bool':
        df1[col] = le.fit_transform(df1[col])

df1.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1

In [27]:
df1.Transported.value_counts()
df1["Total Fare"] = df1['RoomService'] + df1['FoodCourt'] + df1['ShoppingMall'] + df1['Spa'] + df1['VRDeck']
df1

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Total Fare
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,736.0
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,10383.0
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,5176.0
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,1091.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,0,8536.0
8689,0,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,0,0.0
8690,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,1,1873.0
8691,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,0,4637.0
8692,1,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,1,4826.0

In [28]:
x = df1.drop(columns=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck',"Transported"])
y = df1["Transported"]
x

      HomePlanet  CryoSleep  Destination   Age  VIP  Total Fare
0              1          0            2  39.0    0         0.0
1              0          0            2  24.0    0       736.0
2              1          0            2  58.0    1     10383.0
3              1          0            2  33.0    0      5176.0
4              0          0            2  16.0    0      1091.0
...          ...        ...          ...   ...  ...         ...
8688           1          0            0  41.0    1      8536.0
8689           0          1            1  18.0    0         0.0
8690           0          0            2  26.0    0      1873.0
8691           1          0            0  32.0    0      4637.0
8692           1          0            2  44.0    0      4826.0

[8693 rows x 6 columns]

In [29]:
test = pd.read_csv("spaceship-titanic\\test.csv")
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [30]:
PassengerIdcol = test['PassengerId']
test  = test.drop(columns=['PassengerId','Cabin','Name'],axis=1)
test.HomePlanet = test.HomePlanet.fillna(test.HomePlanet.mode()[0])
test.CryoSleep = test.CryoSleep.fillna(False)
test.Destination = test.Destination.fillna(test.Destination.mode()[0])
test.Age = test.Age.fillna(test.Age.median())
test.VIP = test.VIP.fillna(False)
test.RoomService = test.RoomService.fillna(test.RoomService.median())
test.FoodCourt = test.FoodCourt.fillna(test.FoodCourt.median())
test.ShoppingMall = test.ShoppingMall.fillna(test.ShoppingMall.median())
test.Spa = test.Spa.fillna(test.Spa.median())
test.VRDeck = test.VRDeck.fillna(test.VRDeck.median())
for col in test.columns:
    if test[col].dtypes =='O' or test[col].dtypes=='bool':
        test[col] = le.fit_transform(test[col])

test["Total Fare"] = test['RoomService'] + test['FoodCourt'] + test['ShoppingMall'] + test['Spa'] + test['VRDeck']
x_test = test.drop(columns=['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'])

x_test.head()

C:\Users\samiu\AppData\Local\Temp\ipykernel_21984\2364683742.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test.CryoSleep = test.CryoSleep.fillna(False)
C:\Users\samiu\AppData\Local\Temp\ipykernel_21984\2364683742.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test.VIP = test.VIP.fillna(False)

   HomePlanet  CryoSleep  Destination   Age  VIP  Total Fare
0           0          1            2  27.0    0         0.0
1           0          0            2  19.0    0      2832.0
2           1          1            0  31.0    0         0.0
3           1          0            2  38.0    0      7418.0
4           0          0            2  20.0    0       645.0

In [31]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter = 10000)
lr.fit(x,y)

LogisticRegression(max_iter=10000)

In [32]:
y_pred = lr.predict(x_test)

In [41]:
df_submission = pd.DataFrame(y_pred.astype(bool))


df_submission["PassengerId"] = PassengerIdcol
df_submission.columns = ['Transported', 'PassengerId']

df_submission = df_submission.reindex(columns=["PassengerId","Transported"])
df_submission.to_csv("Submission_titanic_space.csv",index=False)